.footer{
    background-color:  $color-grey-light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    text-align: center;
    margin-top: 2rem;
    @include respond(phone){
        padding-bottom: 14rem;
    }

    &__heading{
        margin-bottom: 2rem;
    }
    &__text{
        margin-bottom: 4rem;
    }

    
    &__social-container{
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }
    &__social-item{
        font-size: 6rem;
        text-decoration: none;
        color: $color-brown-dark;

        &:not(:last-child) {
            margin-right: 3rem;
        }
    }
}