.header{
    &__navigation{
        z-index: 1500;
    }
    &__list{
        list-style: none;
        text-align: center;
        width: 100%;
        @include respond(phone){
            width: 100vw;
        }

    }
    &__item{
        margin: 1rem;
        opacity: .4;
        transition: all .4s ease-in-out;

        @include respond(phone){
            display: flex;
            justify-content: center;
        }
    }
    &__link{
        &:link,
        &:visited {
            font-size: 1.6rem;
            font-weight: 400;
            padding: 1rem 2rem;
            color: $color-black-base;
            text-decoration: none;
            text-transform: capitalize;
            transition: all .4s;
        }
        &:hover,
        &:active {
               color: $color-black-base;
               font-weight: 600;        
        }

        body.dark-mode &{
            color: $color-white;
        }
    }

}
