.section-portfolio{
    
    &__card-project{
        background-color: $color-grey-light-2;
        border-radius: 4rem;
        height: 50rem;
        width: auto;
        margin: 2rem;
        transition: all 0.3s ease-out;
        //position: relative;
        //overflow: hidden;     
    }
    .card{
        animation: portfolio .5s ease-in-out;
        animation-fill-mode: backwards;
        @include respond(phone){
            animation: none;
        }

    }
    &__img{
        object-fit: cover;
        transition: all 0.3s ease-out;
        width: fit-content;
        height: 100%;
        &:hover{
            transform: scale(1.2);
            filter:  brightness(80%);
            cursor: pointer;    
        }
    }
    &__text-card{
        margin: 4rem;
        //position: absolute;
        top: 0; 
        display: flex;
        flex-direction: column;
        height: 100%;
        color: $color-white;

        & h2{
            color: $color-white;

        }
    }

    &__link{
        text-decoration: none;

        &,
        &:link,
        &:visited {
            
            color: $color-yellow-dark;
            margin-top: 4rem;
            font-size: 1.8rem;
            font-weight: 700;
            transition: all .2s;
            transition: all .2s;
            border-bottom: .3rem solid $color-yellow-dark;
            width: fit-content;
            width: -moz-max-content;
            padding: 1rem;

        }

        &:hover {
            background-color: $color-yellow-dark;
            color: $color-white;
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba($color-black,.2);
            border-radius: 1rem;
            
    
            &::after {
                transform: scaleX(1.4) scaleY(1.6);
                opacity: 0;
            }
        }
    }
}

.card-project{

    &__av{
        background-image: url(../img/thumbnail-av-expert.png);
        background-size: cover;
        background-position: center;


        @media (min-resolution: 192dpi) and (max-width: 37.5em){ //37.5 em = 600px
            background-image: url(../img/thumbnail-av-expert-mobile.png);
            background-size: cover;
            background-position: center;
        }
    }

    &__essilor{
        background-image: url(../img/thumbnail-essilor.png);
        background-size: cover;
        background-position: center;


        @media (min-resolution: 192dpi) and (max-width: 37.5em){ //37.5 em = 600px
            background-image: url(../img/thumbnail-essilor-mobile.png);
            background-size: cover;
            background-position: center;
        }
    }

    &__solve-for-tomorrow{
        background-image: url(../img/thumbnail-solve-for-tomorrow.png);
        background-size: cover;
        background-position: center;


        @media (min-resolution: 192dpi) and (max-width: 37.5em){ //37.5 em = 600px
            background-image: url(../img/thumbnail-solve-for-tomorrow-mobile.png);
            background-size: cover;
            background-position: center;
        }
    }

    &__landing-s21{
        background-image: url(../img/thumbnail-landing-s21.png);
        background-size: cover;
        background-position: center;


        @media (min-resolution: 192dpi) and (max-width: 37.5em){ //37.5 em = 600px
            background-image: url(../img/thumbnail-landing-s21-mobile.png);
            background-size: cover;
            background-position: center;
        }
    }



}

