.section-portfolio{
    
    &__card-project{
        background-color: $color-grey-light-2;
        border-radius: 4rem;
        height: 50rem;
        width: auto;
        margin: 2rem;
        transition: all 0.3s ease-out;
        //position: relative;
        //overflow: hidden;
        
    }
    .card{
        animation: portfolio .5s ease-in-out;
        animation-fill-mode: backwards;
        @include respond(phone){
            animation: none;
        }

    }
    &__img{
        object-fit: cover;
        transition: all 0.3s ease-out;
        width: fit-content;
        height: 100%;
        &:hover{
            transform: scale(1.2);
            filter:  brightness(80%);
            cursor: pointer;    
        }
    }
    &__text-card{
        margin: 4rem;
        //position: absolute;
        top: 0; 
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__link{
        text-decoration: none;

        &,
        &:link,
        &:visited {
            border-radius: 1rem;
            color: $color-yellow-dark;
            margin-top: 4rem;
            font-size: 1.8rem;
            font-weight: 700;
            transition: all .2s;
            transition: all .2s;

        }
    }
}
