.section-portfolio{
    
    &__card-project{
        background-color: $color-grey-light-2;
        border-radius: 4rem;
        height: 50rem;
        width: auto;
        margin: 2rem;
        transition: all 0.3s ease-out;
        position: relative;
        overflow: hidden;
        
    }
    .card{
        animation: portfolio .5s ease-in-out;
        animation-fill-mode: backwards;

    }
    &__img{
        object-fit: cover;
        transition: all 0.3s ease-out;
        width: 100%;
        &:hover{
            transform: scale(1.2);
            filter:  brightness(80%);
            cursor: pointer;    
        }
    }
    &__text-card{
        margin: 4rem;
        position: absolute;
        top: 0; 
    }
}
