.none {
    // display: none;
    visibility: hidden;
    opacity: 0;
    order: 1;
}
.display-none{
    display: none !important;
}

.is-active {
    display: flex !important;
  }

.menu-active{
    opacity: 1 !important;
    &__link{
        font-weight: 600 !important;
    }
}
.menu-inactive{
    opacity: .4;
}

.flex{
    display: flex !important;
}