.hero-about{
    align-items: center;
    background-color: $color-grey-light;
    display: flex;
    height: 50rem;
    justify-content: center;
    padding: 4rem;

    @include respond(tab-port){
        height: auto;
    }

    &__hero-container{
        align-items: center;
        display: flex;
        width: $width-container;
        justify-content: space-between;
        padding: 0 4rem ;


    @include respond(tab-port){
        flex-direction: column;
        height: auto;
        padding: 4rem;
    }
    }
    

}

.profile{
    align-items: center;
    display: flex;
    height: 50rem;
    justify-content: center;
    padding: 4rem;

    @include respond(tab-port){
        height: auto;
    }

    &__container{
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 0 4rem;
        width: $width-container;

        @include respond(tab-port){
            flex-direction: column;
            height: auto;
            padding: 4rem;
        }
    }

    &__text-box{
        width: 60rem;

    }
    :is(&__text , &__paragraph){
        margin-bottom: $gutter-medium;

    }

}