.section-hero{
    align-items: center;
    background-color: $color-grey-light;
    justify-content: space-between;
    margin: 4rem 4rem 0 4rem;
    border-radius: 2rem;
    padding: 4rem;
    display: flex;
    flex-direction: row;

    body.dark-mode &{
        background-color: $color-black-base;
    }

    @include respond(phone){
        padding:2rem;
    }

    @include respond(tab-port){
        flex-direction: column;
        margin: 0 2rem;
    }

    &__text-container{
        width: 50%;
        @include respond(tab-port){
            width: 100%;
        }
        

    }
    &__hi-text{
        display: flex;
        align-items: center;
        margin-right: 1rem;
    }
    &__icon{
        margin-right: 2rem;
    }
    &__name{
        font-weight: 400;
        &--rol{
            font-weight: 700;
            color: $color-yellow-dark;
        }
    }
    &__img{
        width: auto;
        @include respond(tab-port){
        width: 100%;
        }
    }
}

.section-portfolio{
    margin: 0 2rem;
    @include respond(tab-port){
        margin: 0;
    }
    &__modal{
        background-color: $color-white;
        border-radius: 20px 20px 0px 0px;
        box-shadow: 0 0 0 5em rgba($color-black-base, .5);
        position: fixed;
        z-index: 999;
        top: 4rem;
        bottom: 0;
        left: 0;
        right: 0;
        overflow-y: scroll;

        &::-webkit-scrollbar-track {
            background-color: transparent;
          }
        
        &::-webkit-scrollbar {
          width: .5rem;
        }
        
        &::-webkit-scrollbar-thumb {
          background-color: $color-yellow-dark;
          border-radius: 5rem;
        }

        body.dark-mode &{
            background-color: $color-black-base;
        }

    }
    &__btn-container{
        display: flex;
        justify-content: center;
        margin: auto;
        margin-bottom: 4rem;
    }
    &__item{
        padding: 1rem 2rem;
    }
    &__container-grid{
/*         align-items: stretch;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%; */

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(55rem, 1fr));
        @include respond(tab-port){
            grid-template-columns: 100%;
            }

    }
}

